<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ITvPlayerRepository" type="STPVideoPlayer.DataLayer.ITvPlayerRepository, STPVideoPlayer.DataLayer" />
    <alias alias="MongoTvPlayerRepository" type="STPVideoPlayer.Data.MongoProvider.TvPlayerRepository, STPVideoPlayer.Data.MongoProvider" />
    <namespace name="STPVideoPlayer.DataLayer" />
    <assembly name="STPVideoPlayer.DataLayer" />
    <assembly name="STPVideoPlayer.Data.MongoProvider" />

    <container>
      <register type="ITvPlayerRepository" mapTo="MongoTvPlayerRepository">
        <lifetime type="singleton"/>
      </register>
    </container>

  </unity>
</configuration>